html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
body {
    display: flex;
    flex-direction: column;
}
  
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}
  
main {
    flex: 1;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    transition: 1s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
}

#home h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    text-shadow: #676767 2px 2px 3px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    text-shadow: #676767 2px 2px 3px;
}

.container1, .container2, .container3, .container4 {
    position: absolute;
    padding: 20px;
}

#home .container1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clockDate .time {
    font-size: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
   
}

.clockDate .greeting {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.clockDate .date {
    font-size: 20px;
    text-align: center;
    margin:0;
    padding: 0;
    font-weight: 400;
}

#home .container2 {
    top: 10px;
    right: 10px;
}

.forecastContainer {
    display: flex;
    gap: 20px;
    border: 1px solid #ccc;
    overflow-x: auto;
    max-width: 400px;
}

#home .container3 {
    bottom: 10px;
    left: 10px;
}

footer {
    margin: 0px 10px 10px 0px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.line {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
  
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
  
footer ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
footer ul li a {
    font-size: 40px;
    text-decoration: none;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    text-shadow: black 3px 3px 5px;
}
  
  
  